<!DOCTYPE html>
<html>

<head>
    <link rel="styleshhet" href="style.css"/>
    <title>Amazona</title>
</head>

<body>
    <div>
        <header>Amazona</header>
        <aside>Shopping Category</aside>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
            </ul>
        </main>
        <footer>All rights reserved</footer>
    </div>
</body>
</html>